target/
out/
coverage-report/
.project
.settings
.classpath
test-output
.DS_Store
.idea
*.ipr
*.iws
*.iml
*.orig
.idea/
log/
atlassian-ide-plugin.xml
*.log
*.rdb
*.idea
/bin/
*~
.mvn
mvnw
mvnw.cmd
.springBeans
.pydevproject
